<!DOCTYPE html>
<html lang="en" ng-app="write">

    <head>
        <title>Write</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </head>

    <body id="editor" class="container full-height">
        <div class="row">
            <h1>Just start writing</h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 full-height" id="input">
                <div class="row full-height">
                    <textarea id="pad">
                        Write your text here..
                    </textarea>
                    <input type="button" name="analyze" value="analyze" onclick="getTextEntities()"></input>
                </div>
            </div>

            <div class="col-md-6 col-xs-6 full-height" id="output"></div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 full-height" id="log"></div>
        </div>


        <!--load main scripts-->
        <script type="text/javascript" src="../js/app.js"></script>
        <script type="text/javascript" src="../js/GoogleCloudAPI.js"></script>

    </body>
</html>
